<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="Capa_Presentacion_WPF.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    </sectionGroup>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="Capa_Presentacion_WPF.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <connectionStrings>
    <add name="conexion_sosfood" connectionString="Data Source=DESKTOP-K222F1U\SQLEXPRESS;Initial Catalog=BD_BASE_2_1_3;Persist Security Info=True;User ID=sa;Password=123456" providerName="System.Data.SqlClient" />
	  <!--<add name="conexion_sosfood" connectionString="Data Source=sostic.dyndns.org;Initial Catalog=BD_PLANTILLA_2_1_3;Persist Security Info=True;User ID=sa;Password=jesus2021" providerName="System.Data.SqlClient" />-->
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
  </startup>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="sosfoodSoap"/>
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://sostic.dyndns.org/consultarucydni/sosfood.asmx" binding="basicHttpBinding" bindingConfiguration="sosfoodSoap" contract="ServiceReference1.sosfoodSoap" name="sosfoodSoap"/>
    </client>
  </system.serviceModel>
  <appSettings>
    <add key="modulo" value="1"/>
    <add key="caja2" value="NO"/>
    <add key="ImpCaja" value="PDFCreator"/>
    <add key="TipoCargaPedidos" value="3"/>
    <add key="NombreImpresoraPedido" value="BASICO"/>
    <add key="ClientSettingsProvider.ServiceUri" value=""/>
    <add key="NombreEquipo" value="CAJA01"/>
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri=""/>
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400"/>
      </providers>
    </roleManager>
  </system.web>
  <applicationSettings>
    <Capa_Presentacion_WPF.Properties.Settings>
      <setting name="modulo" serializeAs="String">
        <value>2</value>
      </setting>
      <setting name="caja2" serializeAs="String">
        <value>NO</value>
      </setting>
      <setting name="ImpCaja" serializeAs="String">
        <value />
      </setting>
      <setting name="TipoCargaPedidos" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="NombreImpresoraPedido" serializeAs="String">
        <value>CALIENTE</value>
      </setting>
    </Capa_Presentacion_WPF.Properties.Settings>
  </applicationSettings>
</configuration>