<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="BCrypt" version="1.0.0.0" targetFramework="net461" />
  <package id="BCrypt.Net" version="0.1.0" targetFramework="net461" />
  <package id="BouncyCastle" version="1.8.6.1" targetFramework="net461" />
  <package id="DocumentFormat.OpenXml" version="2.11.3" targetFramework="net461" />
  <package id="Fody" version="6.5.1" targetFramework="net461" developmentDependency="true" />
  <package id="IKVM" version="8.1.5717.0" targetFramework="net461" />
  <package id="iTextSharp" version="5.5.13.2" targetFramework="net461" />
  <package id="itextsharp.xmlworker" version="5.5.13.2" targetFramework="net461" />
  <package id="LiveCharts" version="0.9.7" targetFramework="net461" />
  <package id="LiveCharts.Wpf" version="0.9.7" targetFramework="net461" />
  <package id="MaterialDesignColors" version="1.2.0" targetFramework="net452" />
  <package id="MaterialDesignExtensions" version="2.8.0" targetFramework="net461" />
  <package id="MaterialDesignThemes" version="2.6.0" targetFramework="net452" />
  <package id="Newtonsoft.Json" version="12.0.3" targetFramework="net461" />
  <package id="PropertyChanged.Fody" version="2.6.1" targetFramework="net461" />
  <package id="SpreadsheetLight" version="3.5.0" targetFramework="net461" />
  <package id="Syncfusion.Compression.Base" version="17.4.0.40" targetFramework="net461" />
  <package id="Syncfusion.Licensing" version="17.4.0.40" targetFramework="net461" />
  <package id="Syncfusion.Pdf.Wpf" version="17.4.0.40" targetFramework="net461" />
  <package id="System.Diagnostics.EventLog" version="4.7.0" targetFramework="net462" />
  <package id="System.Drawing.Common" version="5.0.0" targetFramework="net461" />
  <package id="System.IO.FileSystem.Primitives" version="4.3.0" targetFramework="net461" />
  <package id="System.IO.Packaging" version="4.7.0" targetFramework="net461" />
  <package id="System.Reactive" version="4.0.0" targetFramework="net461" />
  <package id="System.Security.Cryptography.Algorithms" version="4.3.1" targetFramework="net461" />
  <package id="System.Security.Cryptography.Primitives" version="4.3.0" targetFramework="net461" />
  <package id="System.Security.Principal.Windows" version="4.7.0" targetFramework="net462" />
  <package id="System.ServiceProcess.ServiceController" version="4.7.0" targetFramework="net462" />
  <package id="ThoughtWorks.QRCode" version="1.1.0" targetFramework="net462" />
  <package id="ToastNotifications" version="2.5.1" targetFramework="net461" />
  <package id="WMPLib" version="1.0.0" targetFramework="net461" developmentDependency="true" />
  <package id="WPFTabTip" version="1.2.2" targetFramework="net461" />
</packages>